{% extends "layout.html" %}

{% block content %}

<div id="contentBar">

	<div id="timer">&#128337; Update prices in: <span></span></div>
	<span><a href="#">&#9776;</a> &nbsp;&nbsp; <b>Filter by type:</b> <button onclick="showCurrency()">Currency</button> <button onclick="showMetal()">Metal</button> <button onclick="showCFD()">CFD</button> <button onclick="showAll()">All</button></span>
</div>

<div id="mainContent">
<button id="getMarkets" onclick="prices()" style="float:right;">FORCE REFRESH</button>

<br />

<div id="markets">
<table class="lista">
	<tr>
		<th>Asset</th>
		<th>Tipo</th>
		<th>Buy (€)</th>
		<th>Sell (€)</th>
		<th></th>
	</tr>
</table>
</div>
</div>

<script>
//AJAX
function markets() {
	getMarkets();
}

function prices(paint=false) {
	var instruments = '';
	//get nome de assets em formato csv que queremos exibir preços 
	$('#markets table tr').each(function (key, value) {
		if($(this).attr('id')) {
			instruments += "," + $(this).attr('id');
		}
	});
	//delete 1st comma
	instruments = instruments.substr(1);
	getPrices(instruments, paint);
}

//TIMER
var max_time=5
var count=max_time;
var counter=setInterval(timer, 1000); //1000 will  run it every 1 second
function timer()
	{
	  count=count-1;
	  if (count <= 0)
	  {
	     //restart do contador
	     count=max_time;
	     prices(paint=true);
	  }
	  $('#timer span').text(count + " secs");
}

//1ª atualização do market e prices
/*$.when(markets()).then(function(){
    prices();
})*/
markets();

//fazer refresh aos prices de x em x segundos
timer();


function showCurrency() {
$('#markets table td.type').parent("tr").hide();
$('#markets table td.type:contains("CURRENCY")').parent("tr").show();
}

function showMetal() {
$('#markets table td.type').parent("tr").hide();
$('#markets table td.type:contains("METAL")').parent("tr").show();
}

function showCFD() {
$('#markets table td.type').parent("tr").hide();
$('#markets table td.type:contains("CFD")').parent("tr").show();
}

function showAll() {
$('#markets table td.type').parent("tr").show();
}

$("button").on("click", function() {
    alert(10);
});


function orderForm(typeOrder, instrument) {

$('#formOrder h4').text(typeOrder.toUpperCase() + ": " + instrument.toUpperCase() );
$('#formOrder input[name="typeOrder"]').val(typeOrder);
$('#formOrder input[name="instrument"]').val(instrument);
$('#formOrder input[type="submit"]').val(typeOrder.toUpperCase());

$('#formOrder').show();


}


</script>

{% endblock %}