{% extends "layout.html" %}

{% block content %}


<div id="contentBar">
	<div id="timer">&#128337; Refresh in: <span></span></div>
	<span><a href="#">&#9776;</a> &nbsp;&nbsp; <b>Filter by:</b> <button onclick="showOpen()">Open</button> <button onclick="showClosed()">Closed</button> <button onclick="showCFD()">CFD</button> <button onclick="showAll()">All</button></span>
</div>

<div id="mainContent">
<button id="getMarkets" onclick="prices()" style="float:right;">FORCE REFRESH</button>

<br />

<div id="markets">
<table class="lista">
	<tr>
		<th>Asset</th>
		<th>Tipo</th>
		<th>Action</th>
		<th>Value</th>
		<th>TP</th>
		<th>SL</th>
		<th>Current Buy (€)</th>
		<th>Current Sell (€)</th>
		<th></th>
	</tr>

{% for asset in portfolio: %}
<tr id="{{ asset.asset }}"><td class="displayName">{{ asset.assetName }}</td><td class="type">{{ asset.marketType }}</td><td>{{ asset.action }}</td><td>{{ asset.startValue }}</td><td>{{ asset.takeProfit }}</td><td>{{ asset.stopLoss }}</td><td class="buy"></td><td class="sell"></td><td><button onclick="close()">close</button></td></tr>
{% endfor %}
</table>
</div>
</div><!--/mainContent-->

<script>
function prices(paint=false) {
	var instruments = '';
	//get nome de assets em formato csv que queremos exibir preços 
	$('#markets table tr').each(function (key, value) {
		if($(this).attr('id')) {
			instruments += "," + $(this).attr('id');
		}
	});
	//delete 1st comma
	instruments = instruments.substr(1);
	getPrices(instruments, paint);
}


var max_time=5
var count=max_time;
var counter=setInterval(timer, 1000); //1000 will  run it every 1 second
function timer()
	{
	  count=count-1;
	  if (count <= 0)
	  {
	     //restart do contador
	     count=max_time;
	     prices(paint=true);
	  }
	  $('#timer span').text(count + " secs");
}

//fazer refresh aos prices de x em x segundos
timer();


function showCurrency() {
$('#markets table td.type').parent("tr").hide();
$('#markets table td.type:contains("CURRENCY")').parent("tr").show();
}

function showMetal() {
$('#markets table td.type').parent("tr").hide();
$('#markets table td.type:contains("METAL")').parent("tr").show();
}

function showCFD() {
$('#markets table td.type').parent("tr").hide();
$('#markets table td.type:contains("CFD")').parent("tr").show();
}

function showAll() {
$('#markets table td.type').parent("tr").show();
}

</script>

{#% include 'right.html' %#}

{% endblock %}