{% extends "layout.html" %}

{% block content %}


<div id="contentBar">
<h1>Profile</h1>
</div>

<div id="mainContent">

<div id="profile">

	<form action="{{ url_for('.profile') }}" method="POST">
		<table>
			<tr>
				<td><b>Username:</b> </td><td><input type="text" name="username" value="{{ username }}" /></td>
			</tr>
			<tr>
				<td><b>E-mail:</b> </td><td><input type="text" name="email" value="{{ email }}" /></td>
			</tr>
			<tr>
				<td><b>New Password:</b> </td><td><input type="password" name="password" /></td>
			</tr>
			<tr>
				<td colspan="2" style="text-align:right;"><input type="submit" value="Edit" /></td>
			</tr>
		</table>
	</form>
	
</div>
</div><!--/mainContent-->

<script>
 $("#profile form input[type=submit]").click(function(e){
  if( (!$('#regprofileister form input[name =username]').val()) || (!$('#profile form input[name =email]').val()) || (!$('#profile form input[name =password]').val()) ) {
  	alert("Fields can't be empty, please finish all fields before submiting");
  	e.preventDefault();
  }
}); 

{% endblock %}